/* CSS Stylesheet for catalog.html */

/* Do this for every element on page */
* {
    margin: 0;               /* Take away all default margins + paddings for entire page */
    padding: 0;
    box-sizing: border-box;  /* Figure out width, height with padding + borders */
}

body {
    font-family: "Work Sans", sans-serif;
}

/* Everything for header */
header {
    position: fixed;
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 13%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 1;          /* If don't have then can't see header over background image */
    align-items: center;
}

h1 {
    padding-left: 30px;
    color: #F8F8FF;
    padding-bottom: 2px;
}

.band_name {
    position: absolute;
    top: 20px;
    left: 20px;
    align-items: center; 
    font-family: "Bungee", serif;
    font-size: 32px;
    color: #F5F5F5;
}

.band_name .highlight {
  background-color: #4682B4;
  border-radius: 8px; 
  padding: 0 2px;
}

nav ul {
    padding-left: 840px;
    font-weight: bold;
    padding-top: 20px;
    list-style: none;
    display: flex;
    gap: 41.5px;
}

nav ul li a {
    color: #F5F5F5;
    font-size: 13.5px;
    text-decoration: none;
}

nav ul li a:hover {
  color: #99CCFF;
}

.bground_image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;         /* Make it go across entire screen */
    height: 105vh; 
    background: url('../images/book_band.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Everything for middle section on page */
.book_section {
    padding: 20px;
    padding-bottom: 125px; 
    text-align: center;
    background-color: #2C2C2C;
    color: #F5F5F5;
    text-align: center;
}

.book_text {
    color: #DCDCDC;
    font-size: 17px;
    text-align: center;
    line-height: 1.4;
    max-width: 560px; 
    margin: 0 auto; 
    padding: 20px; 
}

/* Everything for footer on page */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #2C2C2C;
  color: #F5F5F5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

.socials img {
  height: 20px; 
  width: 20px;
  object-fit: contain;
}

.socials img:hover {
  filter: invert(40%);
}

.footer_txt {
  font-size: 11px;
}
