/* CSS Stylesheet for me_two.html */

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    color: #4682b4;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #DB7093;
    font-size: 25px;
    margin-bottom: 30px;
}

p {
    font-size: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

ul{
    border: 1.8px solid #C71585;
    padding: 10px;
    margin: 0 auto;
    list-style-position: inside;
    width: 45%;
}

li::marker {
    color: #DB7093;
}

li {
    font-size: 15px;
}

table {
    width: 70%;
    border: 2px solid #8B4513;
    border-spacing: 5px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #FFF8DC
}

tr {
    border: 1px solid #8B4513;
}

th {
    color: #8B4513;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    border: 1px solid #8B4513;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    border: 1px solid #8B4513;
}
