/* CSS Stylesheet for me_two.html */

h1 {
    color: #4682b4;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #DB7093;
    font-size: 25px;
    margin-bottom: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li::marker {
    color: #C71585;
}
