#fbd500/* CSS Stylesheet for wordle_game.html */

body, html {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    background: #F8F8FF;
}

header {
    margin-top: 35px;
    color: #FF55AA;
}

h1 {
  font-family: "Bungee", serif;
  margin: 0 auto;
}

#board {
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.each_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #919191;
    border-radius: 8px;
    margin: 4px;
    height: 52px;
    width: 52px;
    font-size: 24px;
}

.each_row {
    display: flex;
}

#user_guess {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    font-size: 17px; 
    gap: 22px;
}

#user_input, #guess_button, #new_game_button {
    font-size: 17px; 
    border-radius: 8px;
    cursor: pointer;
}

#user_input {
    padding: 10px 5px;
    padding-left: 15px;
    text-align: left;
}

#user_input::placeholder {
    text-align: center;
    padding-right: 12px;
}

#guess_button {
    text-align: center;
    padding: 10px 12px;
    background-color: #FF55AA;
    border: 2px solid #DD006E;
    color: #FFFFFF;
}

#guess_button:hover {
    background-color: #DD006E;
}

#new_game_button {
    text-align: center;
    padding: 10px 12px;
    background-color: #FF55AA;
    border: 2px solid #DD006E;
    color: #FFFFFF;
}

#new_game_button:hover {
    background-color: #DD006E;
}

.correct_letter {
    background-color: #C4DCC4;
    color: #000000;
    border: 2px solid #6BA66B;
}

.wrong_spot_letter {
    background-color: #FFF6C4;
    border: 2px solid #FBD500;
    color: #000000;
}

.not_in_word_letter {
    background-color: #E1E1E1;
    color: #000000;
}
