/* CSS Stylesheet for wordle_game.html */

body, html {
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

header {
    margin-top: 35px;
}

h1 {
  font-family: "Bungee", serif;
  margin: 0 auto;
}

#board {
    display: grid;
    grid-template-rows: repeat(6, 50px); /* 6 rows, each 50px high */
    grid-template-columns: repeat(5, 50px); /* 5 columns, each 50px wide */
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.each_cell {
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    text-align: center;
}

.each_row {
    display: contents; /* Let the rows behave as if they were part of the parent grid */
}
